.PostFooter{
    padding: 16px;
    a{
        text-decoration: none;
        color: var(--primary-link-color);
        &:hover{
            color: var(--primary-toggle-color);
        }
    }
    p{
        text-transform: lowercase;
        font-weight: 400;
    }
}